---
---
/* Override theme defaults */
$base-font-family: Inter;
$background-color: #F9F6EE;
$brand-color: #314156;
$brand-light-color: #a7d6fa;
$content-width: 70%;
$base-font-size: 18px;

/* load _sass/minima.scss */
@import "minima";

@font-face {
  font-family: "Inter";
  src: url(/assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf);
}

/* Put any custom CSS here */

.post-card {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  align-items: flex-start;
  margin-bottom: 32px;
}

.post-link {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  flex-direction: row;
}

.post-link:hover {
  text-decoration: none;
}

.post-image {
  max-width: 50%;
  flex: 1 1 auto;
  margin-bottom: 0;
  box-sizing: border-box;
  padding: 0px;
  padding-right: 20px;
}

.post-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  box-sizing: border-box;
}

.post-wrapper {
  font: 16px/1.4 $base-font-family;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 2 1 auto;
  flex-grow: 1;
  padding: 10px;
  padding-left: 0px;
}

.post-excerpt {
  margin: 0;
  padding-top: 8px;
  max-height: 100%;
  overflow-y: hidden;
  overflow-wrap: break-word;
}

.post-meta {
  color: gray;
  font-style: italic;
  font-size: 14px;
  max-width: max-content;
  margin-bottom: 0;
  margin-top: 15px;
}

.post-title-index {
  padding-bottom: 8px;
  margin-left: -2px;
  border-bottom: 3px solid $brand-color;
  font: 36px/1.4 $base-font-family; 
}

.site-title {
  color: $brand-color;
  font: 42px/1.4 $base-font-family;
  padding-left: 8px;
}

.site-title:hover {
  text-decoration: none;
}

.site-title:visited {
  color: $brand-color;
}

.page-link {
  color: $brand-color;
}

.page-link:visited {
  color: $brand-color;
}

.page-link:hover {
  text-decoration: none;
}

.site-header {
  border-top: none;
  border-bottom: none;
  background-color: #a7d6fa;
  height: 70px;
}

.site-header .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-height: 70px;
}

.site-header::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 160px;
  width: calc(100% - 320px);
  height: 3px;
  background-color: $brand-color;
}

.site-header-content {
  display: flex;
  align-items: center;
}

.site-logo img {
  max-height: 50px;
  display: block;
}

.site-nav {
  display: flex;
  margin-left: auto;
}

.page-content .wrapper {
  display: flex;
  justify-content: center;
}

.post.h-entry {
  max-width: 70%;
}

.post-title.p-name {
  margin-bottom: 0;
}

@media (max-width: 768px) {

  .page-content {
    padding-top: 15px;
  }

  .page-content .wrapper {
    max-width: 90%;
    padding: 0px;
    margin: 0px;
  }

  .post.h-entry {
    font-size: 16px;
    max-width: 90%;
  }

  .post-title {
    margin-top: 15px;
  }

  .post-link {
    flex-direction: column;
  }

  .site-header::before {
    width: 100%;
    left: 0px;
  }

  .post-card {
    margin-bottom: 15px;
    border: none;
  }

  .post-wrapper {
    box-sizing: border-box;
    padding: 10px;
    padding-top: 0px;
    flex: 1;
  }

  .post-image {
    max-width: 100%;
    width: 100%;
    margin-right: 0;
    padding: 0;
  }

  .post-excerpt {
    display: none;
  }

  .post-title-index {
    font-size: 1.3em;
    padding-top: 10px;
    text-align: center;
    border-bottom: none;
  }

  .post-meta {
    padding-top: 10px;
    margin-bottom: 0px;
  }
}

body {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

header {
  /* display: none; */
}